.concept {
    font-size: 20px;

    @media (max-width: 800px) {
        font-size: 18px;
    }

    @media (max-width: 500px) {
        font-size: 14px;
    }

    &__number {
        float: left;
        font-size: 60px;
        font-weight: 600;
        line-height: 1;
        color: $orange;

        @media (max-width: 500px) {
            font-size: 48px;
        }
    }

    &__item {
        display: flex;
        gap: spacer(6);

       &--left {
        margin-right: auto;
       } 

       &--center {
        margin: 0 auto;
       }

       &--right {
        margin-left: auto;
       }

    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: spacer(8);
        margin-top: spacer(10);

        @media (max-width: 840px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            gap: spacer(4);
        }
    }

    &__text {
        & > h4 {
            margin-bottom: spacer(3);
        }
    }
}