.leader {
    &__photo {
        width: 100%;

        &--mobile {
            display: none;
            float: right;
            width: 40%;
            margin-left: 16px;
            margin-bottom: 16px;

            @media (max-width: 500px) {
                display: block;
            }
        }
    }

    &__title {
        font-size: 24px;
        margin-bottom: spacer(4);

        @media (max-width: 500px) {
            font-size: 18px;
        }
    }

    &__content {
        padding-right: spacer(15);

        @media (max-width: 840px) {
            width: 60%;
            padding-right: spacer(8);
        }

        @media (max-width: 500px) {
            width: 100%;
            order: 1;
            padding-right: 0;
        }

        & > p:last-child {
            @media (max-width: 500px) {
                margin-bottom: 0;
            }
        }
    }

    &__flex {
        align-items: center;

        & > .flex__3 {
            @media (max-width: 840px) {
                width: 40%;
            }

            @media (max-width: 500px) {
                display: none;
                width: 70%;
                margin-bottom: spacer(10);
            }
        }
    }
}